@import "fonts.sass";
@import "vars.sass";
@import "app/sass/fonts.sass"

$main-color: #87b549
$standart-padding: 0 150px

.nopadding
	padding: 0!important

header
	background-color: #202020
	position: fixed
	width: 100%
	z-index: 100
	padding: $standart-padding
	.logo
		img
			margin-top: 10px
	ul.sub-menu
		display: none
		background-color: rgba(25, 25, 25, .1)
		margin-left: -5px
		li
			min-height: auto
			line-height: 1
			margin: 0
			padding-left: 5px
			a
				color: #fff!important
				&:hover
					color: $main-color!important
	ul
		display: flex
		align-items: center
		justify-content: space-around
		list-style: none
		min-height: 65px
		margin: 0
		padding-left: 0
		li
			border-bottom: 2px solid transparent 
			min-height: 65px
			line-height: 65px
			cursor: pointer
			padding: 10px 0
			a
				color: #fff
				font-family: "ProximaNova-Bold"
				display: block
				text-transform: uppercase
				&:hover
					color: $main-color
					text-decoration: none
					outline: none
				&:active
					color: $main-color
					text-decoration: none
					outline: none
				&:focus
					color: $main-color
					text-decoration: none
					outline: none
		li.drop
			&:hover
				border-bottom: 2px solid #fff
				a
					color: $main-color
				ul.sub-menu
					display: block
					padding-left: 0
					padding-top: 25px
					position: absolute


@import "media.sass";